@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Caveat&display=swap');
body {
    margin: 0 auto;
    width: 800px;
    height: 100vh;
    font-family: 'Amatic SC' ,'Caveat', cursive;
    box-sizing: border-box;
}

h3,h2,p, h1,h4,h5 {
    margin:0;
}

#header {
    text-align: center;
    font-size:35px;
    font-weight: bold;
    margin-bottom: 5px;
}

#product {
    text-align: center;
}

#category {
    text-align: left;
    background-color:#000;
    color:#fff;
    padding-left:10px;
}

#post {
    padding-left:10px;
    width:100%;
    -webkit-box-shadow: 2px 1px 15px -6px #000000; 
    box-shadow: 2px 1px 15px -6px #000000;
    margin-bottom:20px;
    transition:1s;
}
#post:hover {
    cursor:pointer;
    background: lemonchiffon;
    transition:0.1s;
}
#post:active {
    transform: translateY(2px);
}

.user {
    height:50px;
    line-height:50px;
}

.posts {
    margin-bottom: 5px;
    padding-left:15px;
}


.active {
    display:block;
}

.none {
    display: none;
}

.p-l{
    border-style: dashed;
    border-width:1px;
    width:100px;
    display: inline-block;
    padding:5px;
    margin: 5px;
}

img {
    width:100%;
    height:100px;
}

.title_pro {
    text-overflow: clip;
    white-space: nowrap;
    width:100px;
    overflow: hidden;
}


